@charset "UTF-8";

@font-face{font-family:'xxx';src:url(fonts/xxx-Regular.otf);font-weight:400}
@font-face{font-family:'xxx';src:url(fonts/xxx-Bold.otf);font-weight:700}

*{box-sizing:border-box;outline:none}
html,body{margin:0;padding:0}

html{font-size:10px;}
body{
	font-family:'xxx',sans-serif;
	font-weight:400;
	overflow-y:scroll;
}
/*------------------------------------*\
	blue: hsl(227, 76%, 31%)
\*------------------------------------*/

.cwidth{
	width:100%;
	max-width:972px;
	padding-left:15px;
	padding-right:15px;
	margin-left:auto;
	margin-right:auto;
}
a{text-decoration:none;color:hsl(227, 76%, 31%)}
a:hover{text-decoration:underline}

.hr1{}
.hr2{}
.hr3{}
.hr4{}
.hr5{}
.hr6{}
.hr7{}
.hr8{}
.hr9{}
.hr10{}
.hr11{}
.hr12{}
.hr13{}
.hr14{}
.hr15{}
.hr16{}
.hr17{}
.hr18{}
.hr19{}
.hr20{}

.fr1{}
.fr2{}
.fr3{}
.fr4{}
.fr5{}
.fr6{}
.fr7{}
.fr8{}
.fr9{}
.fr10{}
.fr11{}
.fr12{}
.fr13{}
.fr14{}
.fr15{}
.fr16{}
.fr17{}
.fr18{}
.fr19{}
.fr20{}


.hp1{}
.hp2{}
.hp3{}
.hp4{}
.hp5{}
.hp6{}
.hp7{}
.hp8{}
.hp9{}
.hp10{}
.hp11{}
.hp12{}
.hp13{}
.hp14{}
.hp15{}
.hp16{}
.hp17{}
.hp18{}
.hp19{}
.hp20{}

.pa1{}
.pa2{}
.pa3{}
.pa4{}
.pa5{}
.pa6{}
.pa7{}
.pa8{}
.pa9{}
.pa10{}
.pa11{}
.pa12{}
.pa13{}
.pa14{}
.pa15{}
.pa16{}
.pa17{}
.pa18{}
.pa19{}
.pa20{}
/*------------------------------------*\
	axd 
\*------------------------------------*/
@media (max-width: 1000px) {
	html{font-size:6px}
	.cw{width:100%;padding-left:15px;padding-right:15px;}
.hr1{}
.hr2{}
.hr3{}
.hr4{}
.hr5{}
.hr6{}
.hr7{}
.hr8{}
.hr9{}
.hr10{}
.hr11{}
.hr12{}
.hr13{}
.hr14{}
.hr15{}
.hr16{}
.hr17{}
.hr18{}
.hr19{}
.hr20{}	

.fr1{}
.fr2{}
.fr3{}
.fr4{}
.fr5{}
.fr6{}
.fr7{}
.fr8{}
.fr9{}
.fr10{}
.fr11{}
.fr12{}
.fr13{}
.fr14{}
.fr15{}
.fr16{}
.fr17{}
.fr18{}
.fr19{}
.fr20{}

.hp1{}
.hp2{}
.hp3{}
.hp4{}
.hp5{}
.hp6{}
.hp7{}
.hp8{}
.hp9{}
.hp10{}
.hp11{}
.hp12{}
.hp13{}
.hp14{}
.hp15{}
.hp16{}
.hp17{}
.hp18{}
.hp19{}
.hp20{}

.pa1{}
.pa2{}
.pa3{}
.pa4{}
.pa5{}
.pa6{}
.pa7{}
.pa8{}
.pa9{}
.pa10{}
.pa11{}
.pa12{}
.pa13{}
.pa14{}
.pa15{}
.pa16{}
.pa17{}
.pa18{}
.pa19{}
.pa20{}
}


@media (max-width: 600px) {
.hr1{}
.hr2{}
.hr3{}
.hr4{}
.hr5{}
.hr6{}
.hr7{}
.hr8{}
.hr9{}
.hr10{}
.hr11{}
.hr12{}
.hr13{}
.hr14{}
.hr15{}
.hr16{}
.hr17{}
.hr18{}
.hr19{}
.hr20{}	

.fr1{}
.fr2{}
.fr3{}
.fr4{}
.fr5{}
.fr6{}
.fr7{}
.fr8{}
.fr9{}
.fr10{}
.fr11{}
.fr12{}
.fr13{}
.fr14{}
.fr15{}
.fr16{}
.fr17{}
.fr18{}
.fr19{}
.fr20{}

.hp1{}
.hp2{}
.hp3{}
.hp4{}
.hp5{}
.hp6{}
.hp7{}
.hp8{}
.hp9{}
.hp10{}
.hp11{}
.hp12{}
.hp13{}
.hp14{}
.hp15{}
.hp16{}
.hp17{}
.hp18{}
.hp19{}
.hp20{}

.pa1{}
.pa2{}
.pa3{}
.pa4{}
.pa5{}
.pa6{}
.pa7{}
.pa8{}
.pa9{}
.pa10{}
.pa11{}
.pa12{}
.pa13{}
.pa14{}
.pa15{}
.pa16{}
.pa17{}
.pa18{}
.pa19{}
.pa20{}
}






